<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>247561843025-b8u5rqhpevpjnac5m1f1icu009t7g9ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247561843025-b8u5rqhpevpjnac5m1f1icu009t7g9ks</string>
	<key>API_KEY</key>
	<string>AIzaSyDEuW4-ZszUdsHxyUPV40aa7zyUJ8tH4Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>247561843025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DanielRay.showcase-delta</string>
	<key>PROJECT_ID</key>
	<string>showcase-delta</string>
	<key>STORAGE_BUCKET</key>
	<string>showcase-delta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:247561843025:ios:05ba0d237645a93d</string>
	<key>DATABASE_URL</key>
	<string>https://showcase-delta.firebaseio.com</string>
</dict>
</plist>